@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100&display=swap');


body {
    font-family: 'Roboto', sans-serif;
}

.header-top{
    background-color: #24333d;
    color: white;
    font-size: 0.7rem;
    height: 40px;
}

.container {
    height: 100%;
}

header{ 
    color: white;
}

.halftitle{
    background-color: rgba(3, 132, 131, 0.2);
    padding-block: 5px;
    padding-inline: 15px;
}


.pco {
    color: rgba(3, 132, 131);
}

ul {
    list-style-type: none;
}